main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 300%;
}

h3 {
    margin: 1rem 0;
}

button {
    cursor: pointer;
    margin: 1rem 0;
}

button:hover {
    box-shadow: 2px 2px 2px grey;
}